/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #E0F7FA; /* Azul clarito */
    margin: 0;
    padding: 0;
}

.container {
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Encabezado */
.header {
    text-align: center;
}

.logo {
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
}

h1 {
    color: #0288D1; /* Azul fuerte */
    margin-bottom: 20px;
}

/* Formulario */
.form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    font-size: 14px;
    color: #333;
}

input, select {
    margin-top: 5px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input:focus, select:focus {
    outline: none;
    border-color: #0288D1;
}

/* Botones */
.btn {
    margin-top: 20px;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.agendar {
    background-color: #0288D1; /* Azul fuerte */
    color: white;
}

.salir {
    background-color: #FF5252; /* Rojo */
    color: white;
}

.btn:hover {
    opacity: 0.9;
}